<nav id="<%= page_classes %>-navbar">
  <div class="navbar">
    <div class="container" id="navbar">
      <div id="brand-section">
        <%= image_tag "bateau-logo.svg", id: "logo-bateau", class: "responsive-img" %>
        <a href="/" id="brand-name">Matthieu Perraut</a>
      </div>
      <div id="navbar-links-container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" id="menu-links">
          <li class="menu-link"><%= link_to "Accueil", "index.html", 'data-info': "index" %></li>
          <li class="menu-link"><%= link_to "La Mini Transat", "minitransat.html", 'data-info': "minitransat" %></li>
          <li class="menu-link"><%= link_to "Le projet", "projet.html", 'data-info': "projet" %></li>
          <li class="menu-link"><%= link_to "Le programme", "programme.html", 'data-info': "programme" %></li>
          <li class="menu-link"><%= link_to "Le bateau", "bateau.html", 'data-info': "bateau" %></li>
          <li class="menu-link"><%= link_to "L'équipe", "equipe.html", 'data-info': "equipe" %></li>
          <li class="menu-link"><%= link_to "Les partenaires", "partenaires.html", 'data-info': "partenaires" %></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="menu-link"><%= link_to "Accueil", "index.html", 'data-info': "index" %></li>
          <li class="menu-link"><%= link_to "La Mini Transat", "minitransat.html", 'data-info': "minitransat" %></li>
          <li class="menu-link"><%= link_to "Le projet", "projet.html", 'data-info': "projet" %></li>
          <li class="menu-link"><%= link_to "Le programme", "programme.html", 'data-info': "programme" %></li>
          <li class="menu-link"><%= link_to "Le bateau", "bateau.html", 'data-info': "bateau" %></li>
          <li class="menu-link"><%= link_to "L'équipe", "equipe.html", 'data-info': "equipe" %></li>
          <li class="menu-link"><%= link_to "Les partenaires", "partenaires.html", 'data-info': "partenaires" %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
