<nav id="<%= page_classes %>-navbar", class="<%= page_classes %> navbar">
  <div class="nav-wrapper">
    <a href="index.html" class="brand-logo">Matthieu Perraut</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "La Mini Transat", "minitransat.html" %></li>
      <li><%= link_to "Le projet", "projet.html" %></li>
      <li><%= link_to "Le programme", "programme.html" %></li>
      <li><%= link_to "Les partenaires", "partenaires.html" %></li>
      <li><%= link_to "Media", "media.html" %></li>
      <li><%= link_to "Utile", "utile.html" %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "Le skipper", "matthieu.html" %></li>
      <li><%= link_to "Le projet", "le-projet.html" %></li>
      <li><%= link_to "Actus", "actus.html" %></li>
      <li><%= link_to "Utile", "utile.html" %></li>
    </ul>
  </div>
</nav>
