---
title: Objectif Mini Transat - L'équipe | Matthieu Perraut
description: Objectif - être au départ de la Mini Transat en 2019. Découvrez l'équipe du projet de Matthieu.
---

<div class="section blue justified-content">
  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h1>L'équipe</h1>
      <h4>Pour un tel projet il faut s’entourer des meilleurs ! L’objectif de Matthieu est de constituer une équipe d’acteurs aux comptétences variées qui apporteront leur expertise tout au long du projet. La dimension entrepreneuriale du projet est source de motivation pour toute l’équipe.</h4>
    </div>
  </div>
</div>
<div id="banner-equipe">
  <div class="row", id="team-content">
    <div class="col s12 l6", id="team-left-side">
      <div class="team-members">
        <%= image_tag "image-julie.png", class: "responsive-img" %>
        <div class="team-members-description">
          <h3>Julie Pierre</h3>
          <p>Diplômée de l'Essec</p>
          <p class="description">Le web</p>
        </div>
      </div>
      <div class="team-members">
        <%= image_tag "image-francois.png", class: "responsive-img" %>
        <div class="team-members-description">
          <h3>François Thumerel</h3>
          <p>Diplômé de l'Edhec</p>
          <p class="description">La pub</p>
        </div>
      </div>
      <div class="team-members">
        <%= image_tag "image-emeric.png", class: "responsive-img" %>
        <div class="team-members-description">
          <h3>Emeric Lynch</h3>
          <p>Préparateur de Yvan Bourgnon, Bernard Stamm, Alan Roura...</p>
          <p class="description">La préparation du bateau</p>
        </div>
      </div>
    </div>
    <div class="col s12 l6", id="team-right-side">
      <div class="team-members">
        <%= image_tag "image-louise.png", class: "responsive-img" %>
        <div class="team-members-description">
          <h3>Louise Darche</h3>
          <p>Diplômée d'HEC</p>
          <p class="description">La stratégie de com'</p>
        </div>
      </div>
      <div class="team-members">
        <%= image_tag "image-theo.png", class: "responsive-img" %>
        <div class="team-members-description">
          <h3>Théo Laboulandine</h3>
          <p>Producteur chez Melocotonfilms</p>
          <p class="description">La vidéo</p>
        </div>
      </div>
      <div class="team-members">
        <%= image_tag "image-edouard.png", class: "responsive-img" %>
        <div class="team-members-description">
          <h3>Edouard Golbery</h3>
          <p>6e de la Mini 2015, 4e de The Transat 2016</p>
          <p class="description">L'expérience des courses au large</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3 center-align">
      <a href="/partenaires.html" class="btn-cadre center-align">Contactez-nous !</a>
    </div>
  </div>
</div>
