---
title: Matthieu Perraut - Objectif Mini Transat
description: Matthieu Perraut est un jeune navigateur qui a un objectif, être au départ de la Mini Transat en 2019. Découvrez le projet de Matthieu Perraut.
---

<div class="parallax-container valign-wrapper", id="parallax-page-index">
  <div class="parallax">
    <video id="video-cover" class="video-bg" autoplay="autoplay" preload="auto" loop volume="0">
      <source src="<%= image_path 'video-banner.mp4' %>" type="video/mp4">
    </video>
  </div>
  <div class="row unpadded unmargined">
    <div class="col s8 offset-s2 m10 offset-m1">
      <h1 class="big-title center-align gras">Matthieu Perraut - <span class="brand-red-text">Mini Transat 2019</span></h1>
    </div>
  </div>
  <div class="arrow scrolldown hidden" id="scrolldown-home"></div>
</div>

<div class="section-blue" id="first-content">
  <h2 class="center-align"><span class="brand-red-text">Objectif</span> : Mini Transat 2019</h2>
</div>

<div class="section-image" style="background-image: url('<%= image_path "background-mini-home.jpg"%>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="container">
    <div id="presentation-infos-container">
      <div class="flex-item center-align">
        <%= image_tag "logo20.svg", class: "center-align sailing-icons responsive-img" %>
        <h3>Une Course Transatlantique</h3>
        <p>La Rochelle - Martinique avec une escale aux Canaries</p>
      </div>
      <div class="flex-item center-align">
        <%= image_tag "logo18.svg", class: "center-align sailing-icons responsive-img" %>
        <h3>En Solitaire</h3>
        <p>Sans assistance ni communication</p>
      </div>
      <div class="flex-item center-align">
        <%= image_tag "logo19.svg", class: "center-align sailing-icons responsive-img" %>
        <h3>Sur un bateau de 6.50m</h3>
        <p>Les plus petits bateaux de course au large</p>
      </div>
    </div>
    <div class="small-container center-align">
      <div class="citation">
        <h4 class="italique">« C’est cette course qui m’a donné le goût du large. Je n’oublierai jamais. »</h4>
        <p class="italique">Ellen Mac Arthur</p>
      </div>
    </div>
  </div>
</div>

<div class="section-blue">
  <div class="container">
    <div id="mapmonde-container">
      <div id="mapmonde-item">
        <%= image_tag "mapmonde.svg" %>
      </div>
      <div id="mapmonde-content">
        <h3><span class="home-counter" data-count="22">0</span>  ème édition</h3>
        <h3><span class="home-counter" data-count="84">0</span>  coureurs</h3>
        <h3><span class="home-counter-number">2</span>  étapes</h3>
      </div>
      <div id="mapmonde-content">
        <h3><span class="home-counter" data-count="30">0</span>  jours de course</h3>
        <h3><span class="home-counter" data-count="132">0</span>  organisateurs</h3>
        <h3><span class="home-counter" data-count="4500">0</span>  milles nautiques</h3>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container hide-on-small-only" style="height: 80vh;">
  <div class="parallax">
    <%= image_tag "photo-sous-le-vent.jpg" %>
  </div>
</div>

<div class="hide-on-med-and-up mobile-picture-container" >
  <%= image_tag "photo-sous-le-vent-mobile.jpg" %>
</div>

<div class="section-blue">
  <div class="container">
    <div id="skipper-bg">
      <div class="skipper-photo-item center-align">
        <%= image_tag "round-skipper.jpg", id: "photo-matthieu", class: "responsive-img" %>
      </div>
      <div class="skipper-bg-item">
        <h2>LE SKIPPER</h2>
        <br>
        <h4>Matthieu Perraut</h4>
        <p>Originaire de Bretagne, Matthieu a grandi les pieds dans l'eau. De l'optimist à la planche à voile, en passant par les petits dériveurs, Matthieu a très vite pris goût aux plaisirs de la voile, et a suivi sa passion jusqu'à en devenir moniteur en 2009.</p>
        <p>Après plusieurs saisons au club de voile où il a transmis sa passion aux plus jeunes, il s'est mis à voir plus grand, plus large et a appris à skipper des bateaux de croisière pour le plus grand plaisir de ses proches.</p>
        <p>Même si la mer et la voile ont toujours été dans un coin de sa tête, Matthieu a nourri d'autres passions, en premier lieu l'architecture, dont il a fait son métier. Il est aujourd'hui chef de projet dans une agence d'architecture parisienne, un métier qui lui permet d'exprimer sa créativité et de développer de solides compétences de gestion de projet.</p>
        <p>Toutefois, aujourd'hui, il rêve de grand large et poursuit un rêve d'enfant : être sur la ligne de départ de la Mini Transat en 2019. En bon rugbyman tenace et endurant qu'il est, il entend bien tout mettre en oeuvre pour y parvenir.</p>
      </div>
    </div>
  </div>
</div>
<div class="section-blue">
  <div class="container">
    <div id="contact-form">
      <h4 class="center-align">Contactez-nous</h4>
      <div class="row">
        <div class="col s10 offset-s1 col m8 offset-m2">
          <form action="https://formspree.io/julie.pierre3@gmail.com"
            method="POST">
            <input type="text" name="name" placeholder="Votre nom" class="form-control" required>
            <input type="email" name="_replyto" placeholder="Votre email" class="form-control" required>
            <textarea name="body" rows="8" width="100%" placeholder="Entrez ici votre texte" class="form-control"></textarea>
            <br>
            <input type="hidden" name="_next" value="/">
            <input type="submit" value="Envoyer" class="btn-cadre">
          </form>
        </div>
      </div>
      <p class="center-align">Pour m'envoyer un email classique, cliquez <a href="mailto:matthieu.perraut@gmail.com" target="_blank" class="normal-link">ici</a>.</p>
    </div>
  </div>
</div>









