---
title: Matthieu Perraut - Objectif Mini Transat
description: Découvrez le projet de Matthieu Perraut - objectif Mini Transat 2019
---

<div class="parallax-container valign-wrapper" style="height: 100vh;">
  <div class="parallax">
    <%= image_tag "matthieu-image-home.jpg", style: "display: block;" %>
  </div>
  <div class="row valign" style="width: 100%;">
    <div class="col s12 m10 offset-m1">
      <h2 class="center-align gras">Matthieu Perraut - <span class="brand-red-text">Mini Transat 2019</span></h2>
    </div>
  </div>
  <div class="arrow scrolldown"></div>
</div>

<div class="section blue" id="first-content">
  <p class="section-header center-align"><span class="brand-red-text">Objectif</span> : Mini Transat 2019</p>
</div>

<div id = "mini-transat-bg", class="section blue" style="background-image: linear-gradient(rgba(31, 108, 176, 0.5), rgba(31, 108, 176, 0.5)), url('<%= image_path "image-bateau.jpg"%>')">
  <div class="flexbox-infos">
    <div class="first-item center-align">
      <%= image_tag "logo20.svg", class: "center-align sailing-icons responsive-img" %>
      <h4>Une Course Transatlantique</h4>
      <p>La Rochelle - Martinique avec une escale aux Canaries</p>
    </div>
    <div class="second-item center-align">
      <%= image_tag "logo18.svg", class: "center-align sailing-icons responsive-img" %>
      <h4>En Solitaire</h4>
      <p>Sans assitance ni communication</p>
    </div>
    <div class="third-item center-align">
      <%= image_tag "logo19.svg", class: "center-align sailing-icons responsive-img" %>
      <h4>Sur un bateau de 6.50m</h4>
      <p>Les plus petits bateaux de course au large</p>
    </div>
  </div>
  <div class="container small-container center-align">
    <div class="citation">
      <h4 class="italique">« C’est cette course qui m’a donné le goût du large. Je n’oublierai jamais. »</h4>
      <p class="italique">Ellen Mac Arthur</p>
    </div>
  </div>
</div>

<div class="section blue" id="mapmonde-bg">
  <div id="mapmonde-item">
    <%= image_tag "mapmonde.svg" %>
  </div>
  <div id="mapmonde-content-1">
    <h4><span class="home-counter" data-count="22">0</span>  ème édition</h4>
    <h4><span class="home-counter" data-count="84">0</span>  coureurs</h4>
    <h4><span class="home-counter-number">2</span>  étapes</h4>
  </div>
  <div id="mapmonde-content-2">
    <h4><span class="home-counter" data-count="30">0</span>  jours de course</h4>
    <h4><span class="home-counter" data-count="132">0</span>  organisateurs</h4>
    <h4><span class="home-counter" data-count="4500">0</span>  milles nautiques</h4>
  </div>
</div>

<div class="parallax-container" style="height: 80vh;">
  <div class="parallax">
    <%= image_tag "matthieu-image1.jpg", style: "display: block; transform: translate3d(-80%, 200px, 0px)" %>
  </div>
</div>

<div class="section blue">
  <div id="skipper-bg">
    <div>
      <%= image_tag "photo-matthieu.jpg", id: "photo-matthieu", class: "responsive-img" %>
    </div>
    <div class="skipper-bg-item">
      <h3>LE SKIPPER</h3>
      <br>
      <h4>Matthieu Perraut</h4>
      <p>Architecte diplômé de l’ensav / skipper du bateau</p>
      <p>Matthieu a grandi en bretagne où il a appri à naviguer et à
      pu développer son amour pour la mer. Devenu architecte, il est
      actuellement chef de projet dans une agence d’architecture à
      Paris, la gestion de projet est son métier, la mini transat est son
      ambition principale pour les trois prochaines années !</p>
    </div>
  </div>
  <div class="contact-form">
    <h4 class="center-align">Contactez-moi pour en savoir plus sur le projet</h4>
    <div class="row">
      <div class="col s10 offset-s1 col m4 offset-m4">
        <form action="https://formspree.io/julie.pierre3@gmail.com"
          method="POST">
          <input type="text" name="name" placeholder="Votre nom" class="form-control" required>
          <input type="email" name="_replyto" placeholder="Votre email" class="form-control" required>
          <textarea name="body" rows="8" width="100%" placeholder="Entrez ici votre texte" class="form-control"></textarea>
          <br>
          <input type="hidden" name="_next" value="/">
          <input type="submit" value="Envoyer" class="btn-cadre">
        </form>
      </div>
    </div>
  </div>
</div>









