---
title: Rhino sur l'eau
---
<div class="parallax-container valign-wrapper" style="height: 100vh;">
  <div class="parallax">
    <%= image_tag "parallax1.jpg", style: "display: block; transform: translate3d(-50%, 227px, 0px" %>
  </div>
  <div class="row valign" style="width: 100%;">
    <div class="col s12 m6 offset-m3">
      <h1 class="center-align highlighted">Découvrez mon projet fou !</h1>
    </div>
  </div>
  <div class="arrow scrolldown"></div>
</div>

<div class="section blue">
  <div class="container">
    <h3 class="section-header center-align">Embarquez avec moi pour une traversée de l’Atlantique à la voile & en solitaire sur un bateau de seulement 6,50 mètres !</h3>
  </div>
</div>

<div class="container-full-width">
  <div class="row">
    <div class="col s12 m6 l3 unpadded"><%= image_tag("http://lorempixel.com/360/290/", class: "grow-image") %></div>
    <div class="col s12 m6 l3"><%= image_tag("http://lorempixel.com/360/290/", class: "grow-image") %></div>
    <div class="col s12 m6 l3"><%= image_tag("http://lorempixel.com/360/290/", class: "grow-image") %></div>
    <div class="col s12 m6 l3"><%= image_tag("http://lorempixel.com/360/290/", class: "grow-image") %></div>
  </div>
</div>

<div class="section blue" style="margin-top: -28px;">
  <div class="container">
    <h4 class="header center-align orange-text">Mon objectif ? Participer à la Mini Transat 2019</h4>
    <div class="table-content section">
      <div>
        <h4>UNE TRAVERSÉE DE L’ATLANTIQUE À LA VOILE</h4>
        <p class="small">De Douarnenez en Bretagne à Pointe-à-Pitre en Guadeloupe avec une escale aux Canaries</p>
      </div>
      <div>
        <h4>EN SOLITAIRE</h4>
        <p class="small">Près de 50 jours de navigation, seule au monde !</p>
      </div>
      <div>
        <h4>SUR UN TOUT PETIT BATEAU DE TYPE «MINI 6.50»</h4>
        <p class="small">Petit mais au top de la technologie ! Un véritable bolide des mers.</p>
      </div>
      <div>
        <h4>SANS ASSISTANCE, NI MOYEN DE COMMUNICATION</h4>
        <p class="small">Seule une radio VHF courte portée est autorisée à bord</p>
      </div>
      <div>
        <h4>EN COURSE</h4>
        <p class="small">Près de 90 concurrents à chaque édition</p>
      </div>
    </div>
    <div class="section quote center-align">
      <p>« Cette course, mythique pour de nombreux marins, s’adresse aussi bien aux professionnels qu’aux amateurs. Si Ellen Mac Arthur, Michel Desjoyeaux ou encore Roland Jourdain y ont fait leurs débuts, de nombreux passionnés comme moi s’élancent tous les deux ans pour réaliser le rêve de leur vie. »</p>
    </div>
    <ul class="count center-align">
      <li>
        <h2 class="counter" data-count="4500">0</h2>
        <p>milles nautiques à parcourir (1mille=1,8km)</p>
      </li>
      <li>
        <h2 class="counter" data-count="30">0</h2>
        <p>jours de navigation solitaire</p>
      </li>
      <li>
        <h2 class="counter" data-count="90">0</h2>
        <p>concurrents</p>
      </li>
    </ul>
  </div>
</div>
<div id="newsletter-banner">
  <%= image_tag "image1.jpg", style: "display: block; height: 655px;" %>
</div>
















