---
title: Toute l'actualité du projet
description: Suivez toute l'actualité du projet de Matthieu, photos, vidéos, interviews, etc
---

<div class="main-body">
  <div class="section-blue">
    <div id="media-content">
      <h2 class="test">Blabla</h2>
        <div class="carousel-slick">
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image1.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image2.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image3.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image4.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image5.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image6.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image7.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("image8.jpg") %>')"></div>
        </div>
    </div>
</div>
</div>
