---
title: Toute l'actualité du projet
description: Suivez toute l'actualité du projet de Matthieu, photos, vidéos, interviews, etc
---

<div class="main-body">
  <div class="section-blue">
    <div id="media-photos-container">
        <div class="carousel-slick">
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut1.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut2.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut3.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut4.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut5.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut6.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut7.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut8.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut9.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut10.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut11.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut12.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut13.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut14.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut15.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut16.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut17.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut18.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut19.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut20.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut21.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut22.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut23.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut24.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut25.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut26.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut27.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut28.jpg") %>')"></div>
          <div class="carousel-image-container" style="background-image: url('<%= image_path("matthieuperraut29.jpg") %>')"></div>
        </div>
    </div>
    <div class="small-container">
      <div id="media-videos-container">
        <h3 class="brand-red-text text-center">Saison 1</h3>
        <p class="text-center small">2017 - 2018 Apprentissage du bateau et premières courses au large !</p>
        <br>
        <div class="flexbox flex-wrap margin-bottom">
          <div class="episode-container text-center">
            <h4>Saison 1 Episode 0 - Le Tour de Belle-Ile, tour de chauffe</h4>
            <p class="small">Première régate sur le bateau et en compagnie de François</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/T3n4j2QZx3g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="episode-container text-center">
            <h4>Saison 1 Episode 1 - La Plastimo Lorient Mini 6.50</h4>
            <p class="small">Les premiers apprentissages de la pétole et les fruits de la persévérance</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/BvAu7aiYv0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <h3 class="brand-red-text text-center">La Minute Rhino !</h3>
        <p class="text-center small">Suivez le quotidien du projet, les entrainements, la bricole et la préparation</p>
        <div class="flexbox flex-wrap margin-bottom">
          <div class="episode-container text-center">
            <h4>Minute Rhino 01 - La navigation</h4>
            <p class="small">Pas de GPS à bord, retour à la carto !</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/AgGr3BV4WKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="episode-container text-center">
            <h4>Minute Rhino 02 - Arrivée à la voile par gros temps</h4>
            <p class="small">L'entrainement dans le gros temps est essentiel, pas toujours facile...</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/Lo5p67lDG5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="episode-container text-center">
            <h4>Minute Rhino 05 - Monter au mat</h4>
            <p class="small">Comment monter tout seul au mat en mer ?!</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/yQmGxvCjK74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="episode-container text-center">
            <h4>Minute Rhino 06 - Arrivée au port sportive</h4>
            <p class="small">Fin de l'entrainement, on rentre au port à la voile.</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/nlOqBYs6AYg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="episode-container text-center">
            <h4>Minute Rhino 07 - Quand ça déboule</h4>
            <p class="small">Le vent c'est bien mais c'est bruyant.</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/wh1atX94QbM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="episode-container text-center">
            <h4>Minute Rhino 08 - Pause déjeuner</h4>
            <p class="small">Que déjeune-t-on pendant l'entrainement ?</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/DDv5TSxxLLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="episode-container text-center">
            <h4>Minute Rhino 09 - Préparer sa route</h4>
            <p class="small">Sans GPS, pas facile de préparer sa route, je vous explique mes techniques.</p>
            <br>
            <div class="video-container">
              <iframe width="966" height="543" src="https://www.youtube.com/embed/rcGKx2vVG_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
