---
title: Les partenaires du projet
description: Découvrez les partenaires et soutiens du projet.
---

<div class="main-body">
  <div class="section-blue">
    <div class="container">
      <h2 class="center-align">Nos partenaires</h2>
    </div>
  </div>
  <div id="logo-partenaires-section">
    <div class="logo-section" style="background-color: white">
      <div class="small-container">
        <div class="logo-container" id="sponsor-titre-container">
          <div class="big-logo-container">
            <%= image_tag "logo-batisseurs-davenir.png" %>
          </div>
          <div class="link-container" id="first-logo">
            <%= image_tag "logo-bati-nantes.png" %>
            <a href="https://www.batinantes.fr/" class="card-link" target="_blank"></a>
          </div>
          <div class="link-container" id="second-logo">
            <%= image_tag "logo-bati-lyon.png" %>
            <a href="https://batilyonpromotion.fr/" class="card-link" target="_blank"></a>
          </div>
          <div class="link-container" id="third-logo">
            <%= image_tag "logo-bati-armor.png" %>
            <a href="https://www.batiarmor.fr/" class="card-link" target="_blank"></a>
          </div>
          <div class="link-container" id="fourth-logo">
            <%= image_tag "logo-bati-amenagement.png" %>
            <a href="https://batiamenagement.fr/" class="card-link" target="_blank"></a>
          </div>
        </div>
        <div class="partenaire-presentation" style="color: #00476F">
          <p>Partenaire principal de l'aventure, le groupe Bâtisseur d'Avenir nous a fait confiance et a rendu ce projet possible !</p>
          <p>Promoteur immobilier de renom, le groupe réalise toute sorte de programmes immobiliers neufs.</p>
          <p>Réunir des professionnels de la construction et baptiser son bateau "Bâtisseurs d'avenir", que rêver de mieux pour un architecte ?</p>
        </div>
      </div>
    </div>
    <div class="logo-section" style="background-color: #023351">
      <div class="small-container">
        <div class="logo-container small-logo-container">
          <%= image_tag "helly-hansen-logo.png" %>
          <a href="https://www.hellyhansen.com/fr_fr/" target="_blank" class="partenaire-link" ></a>
        </div>
        <div class="partenaire-presentation" style="color: white">
          <p>Petites fusées des mers, nos bateaux ne sont pas tendres avec leurs skippers !</p>
          <p>Il faut pouvoir bien s'équiper et s'entourer des meilleurs en la matière. Helly Hansen est un spécialiste du vêtement de mer depuis 1877, pour être bien au sec !</p>
        </div>
      </div>
    </div>
    <div class="logo-section" style="background-color: #C43433">
      <div class="small-container">
        <div class="logo-container">
          <%= image_tag "wichard.svg" %>
          <a href="http://marine.wichard.com/version-francaise.html" target="_blank" class="partenaire-link"></a>
        </div>
        <div class="partenaire-presentation" style="color: white">
          <p>Fabricant d'accastillage et de pièces en tout genre pour le bateau, ce sont eux qui m'aident et me conseillent pour équiper au mieux le bateau et le skipper.</p>
        </div>
      </div>
    </div>
    <div class="logo-section" style="background-color: white">
      <div class="small-container">
        <div class="logo-container">
          <%= image_tag "logo-profurl.jpg" %>
          <a href="http://www.profurl.com/" target="_blank" class="partenaire-link"></a>
        </div>
        <div class="partenaire-presentation" style="color: #00476F">
          <p>Le spécialiste des systèmes d'enroulement de voile</p>
          <p>Depuis plus de 30 ans, Profurl conçoit, développe et commercialise des produits destinés à vous offrir le meilleur de la technologie, mais aussi de sécurité, facilité de navigation et performance.</p>
        </div>
      </div>
    </div>
    <div class="logo-section" style="background-color: #023351">
      <div class="small-container">
        <div class="logo-container">
          <%= image_tag "eole.svg" %>
          <a href="https://eolegreement.fr/" target="_blank" class="partenaire-link"></a>
        </div>
        <div class="partenaire-presentation" style="color: white">
          <p>Spécialisé dans le gréement courant, dormant, l'accastillage, le matelotage et les cordages, Eole m'aide à m'y retrouver parmi toutes les ficelles sur le bateau !</p>
        </div>
      </div>
    </div>
    <div class="logo-section" style="background-color: #C43433">
      <div class="small-container">
        <div class="logo-container">
          <%= image_tag "naoned.svg" %>
          <a href="http://www.naonedeyewear.bzh/" target="_blank" class="partenaire-link"></a>
        </div>
        <div class="partenaire-presentation" style="color: white">
          <p>Montures de lunettes, rêvées, dessinées, manufacturées à Nantes. Un maître mot pour définir cette aventure : la passion ! Eux aussi ont tout quitté pour se lancer dans cette aventure hors du commun !</p>
          <p>Naoned : Paris - New York - Bruxelles - Le Guilvinec</p>
        </div>
      </div>
    </div>
    <div class="logo-section" style="background-color: white">
      <div class="small-container">
        <div class="logo-container small-logo-container">
          <%= image_tag "lemee.svg" %>
          <a href="http://www.eurodrapeau.com/" target="_blank" class="partenaire-link"></a>
        </div>
        <div class="partenaire-presentation" style="color: #00476F">
          <p>Pour un Rhino encore plus beau !</p>
          <p>Les ateliers Le Mée sont les spécialistes de la signalétique depuis 60 ans. Imaginez la communication, ils font le reste.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-blue" style='padding: 2rem 0;'>
    <div class="container">
      <h2 class="center-align">Devenez partenaire du projet et embarquez dans<span class="brand-red-text gras"> l'aventure</span> !</h2>
    </div>
  </div>
  <div id="partenaires-section-image" class="section-image" style="background: url('<%= image_path "mini-transat-partenaires-matthieu-perraut.jpg"%>'); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;">
    <div class="container">
      <div id="contact-form-partenaires">
        <h3 class="center-align">Vous souhaitez en savoir plus sur le projet ? Contactez-nous.</h3>
        <br>
        <br>
        <div class="row">
          <div class="col s10 offset-s1 col m8 offset-m2">
            <form action="https://formspree.io/julie.pierre3@gmail.com"
              method="POST">
              <input type="text" name="name" placeholder="Votre nom" class="form-control" id="nom-utilisateur" required>
              <input type="email" name="_replyto" placeholder="Votre email" class="form-control" id="email-utilisateur" required>
              <textarea name="body" rows="8" width="100%" placeholder="Entrez ici votre texte" class="form-control"></textarea>
              <br>
              <input type="hidden" name="_next" value="/">
              <input type="submit" value="Envoyer" class="btn-cadre">
            </form>
          </div>
        </div>
        <br>
        <br>
        <h4 class="center-align">Pour m'envoyer un email classique, cliquez <a href="mailto:matthieu.perraut@gmail.com" target="_blank" class="normal-link">ici</a>.</h4>
      </div>
    </div>
  </div>
</div>
