<h4 class="grey-text text-lighten-1 center-align">Exemple de bouton</h4>
<%= link_to "Skipper", "matthieu.html", class: "btn-base btn-1" %>

<h4 class="grey-text text-lighten-1 center-align">Exemple d'animation images</h4>
<div class="row">
  <div class="accordeon-frame">
    <div class="accordeon-boxes">
      <div class="accordeon-box">
        <%= image_tag("http://lorempixel.com/1200/400/") %>
        <span class="text">FIRST</span>
      </div>
      <div class="accordeon-box">
        <%= image_tag("http://lorempixel.com/1200/400/") %>
        <span class="text">SECOND</span>
      </div>
      <div class="accordeon-box">
        <%= image_tag("http://lorempixel.com/1200/400/") %>
        <span class="text">THIRD</span>
      </div>
      <div class="accordeon-box">
        <%= image_tag("http://lorempixel.com/1200/400/") %>
        <span class="text">FOURTH</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l3 inside-zoom"><%= image_tag("http://lorempixel.com/360/290/") %></div>
  <div class="col s12 m6 l3 inside-zoom"><%= image_tag("http://lorempixel.com/360/290/") %></div>
  <div class="col s12 m6 l3 inside-zoom"><%= image_tag("http://lorempixel.com/360/290/") %></div>
  <div class="col s12 m6 l3 inside-zoom"><%= image_tag("http://lorempixel.com/360/290/") %></div>
</div>
